<% provide(:title,"Home")%>
  <div class="center jumbotron">
    <h1>Welcome to Instagram Clone!</h1>
    <p>This is the clone of the Instagram.</p>

    <%= link_to "Sign up now!",'#',class:"btn btn-primary" %>
  </div>
